Hola <%= @nombre %><br>
URL: <%= root_url %>kml/mapa.kml
<style>
  html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script>
	function initialize() {
		// var chicago = new google.maps.LatLng(41.875696,-87.624207);
		var chicago = new google.maps.LatLng(-33.5845709, -70.5651589);
		var mapOptions = {
			zoom: 14,
			center: chicago
		}

		var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

		var ctaLayer = new google.maps.KmlLayer({
			// url: 'http://gmaps-samples.googlecode.com/svn/trunk/ggeoxml/cta.kml',
			url: '<%= root_url %>kml/mapa.kml'
		});
		ctaLayer.setMap(map);
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas"></div>
